/* if mobile and tablet are seperate  */
@media screen and (max-width: 767px) {
  /* phone */
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  /* tablet */
}
@media screen and (min-width: 1024px) {
  /* desktop */
}

/* if mobile and tablet are same  */
@media screen and (max-width: 1023px) {
  /* phone */
}
@media screen and (min-width: 1024px) {
  /* desktop */
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  position: absolute;
  left: 0;
  right: 0;
}

.sectionOne {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 458px;
  width: 100%;
}

.container_sectionOne {
  height: 100%;
  width: 100%;
  max-width: 1530px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7vw;
}

.sectionOne_left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.sectionOne_left > h1 {
  margin-top: 79px;
  color: #515151;
  font-size: 20px;
}

.sectionOne_right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 261px;
}

.gifSectionOne {
  margin-top: 64px;
  height: 410px;
  width: 410px;
}

.animationOne {
  margin-top: 17px;
  height: 2px;
  width: 281px;
  background-color: #a83d3d;
  -webkit-animation: animationOne 2s infinite alternate;
  animation: animationOne 2s infinite alternate;
}

@-webkit-keyframes animationOne {
  0% {
    width: 70px;
  }
  100% {
    width: 281px;
  }
}
@keyframes animationOne {
  0% {
    width: 70px;
  }
  100% {
    width: 281px;
  }
}

.sectionOne_left > h2 {
  font-size: 35px;
  margin-top: 13px;
  font-weight: 700;
}

.sectionOne_left > h3 {
  font-size: 35px;
  color: #a83d3d;
  font-weight: 700;
}

.sectionOne_left > p {
  font-size: 16px;
  color: #414141;
  margin-top: 17px;
  margin-right: 100px;
}

.buttonContainer_sectionOne {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.goToService_Button {
  background-color: #050505;
  width: 133px;
  height: 39px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-right: 14px;
}

.contactButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39px;
  width: 119px;
  border-radius: 20px;
  border: 1px solid #000000;
  cursor: pointer;
}

.contactButton:hover {
  background: linear-gradient(to left, #a83d3d, #000000);
  border: none;
}

.contactButton:hover p {
  color: #ffffff;
}

.contactButton:hover .arrowContact {
  color: #ffffff;
}

.contactButton > p {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
}

.arrowContact {
  height: 15px;
  margin-left: 19px;
}

.sectionTwo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 54px;
}

.outer_container_sectionTwo {
  width: 100%;
  position: relative;
}

.gradient_sectionTwo {
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, #ffffff, #ffffff00);
  z-index: 10;
  position: absolute;
}

.cardContainer_sectionTwo {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: -10;
}

.cardContainer_sectionTwo::-webkit-scrollbar {
  display: none;
}

.card1_sectionTwo {
  height: 487px;
  width: 298px;
  min-width: 298px;
  border-radius: 8px;
}

.card1_sectionTwo > .vert_move {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card1_sectionTwo > img.vert_move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.card1_sectionTwo > img.vert_move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

.card2_sectionTwo {
  height: 396px;
  max-width: 298px;
  min-width: 298px;
  margin: 0 11px;
  border-radius: 8px;
}

.card2_sectionTwo > .vert_move {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card2_sectionTwo > img.vert_move {
  -webkit-animation: mover2 1s infinite alternate;
  animation: mover2 1s infinite alternate;
}
.card2_sectionTwo > img.vert_move {
  -webkit-animation: mover2 1s infinite alternate;
  animation: mover2 1s infinite alternate;
}

@-webkit-keyframes mover2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes mover2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.container_sectionTwo {
  width: 100%;
  height: 100%;
  max-width: 1530px;
  padding: 0px 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentConatiner_sectionTwo {
  margin-top: 87px;
  display: flex;
  align-items: center;
}

.content_sectionTwo {
  display: flex;
  align-items: center;
  margin: 0 33px;
  cursor: pointer;
}

.eclipse_green_sectionTwo {
  background: linear-gradient(to bottom, #17c59b, #13a4d0);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.eclipse_gray_sectionTwo {
  background-color: #e4e4e4;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.text_content_sectionTwo,
.text_content_sectionTwo2 {
  margin-left: 12px;
}

.text_content_sectionTwo > p {
  color: #3d3d3d;
  font-weight: 400;
  font-size: 12px;
  margin-top: 1px;
  width: 89px;
}

.text_content_sectionTwo2 > p {
  color: #b0b0b0;
  font-weight: 400;
  font-size: 12px;
  margin-top: 1px;
  width: 89px;
}

.sectionThree {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 75px;
}

.container_sectionThree {
  width: 100%;
  height: 100%;
  max-width: 1530px;
  padding: 0px 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_sectionThree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
}

.title_sectionThree > h2 {
  font-size: 35px;
  font-weight: 700;
}

.title_sectionThree > h3 {
  color: #6b6b6b;
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}

.cards_sectionThree {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 57px;
}

.card_sectionThree {
  width: 406px;
  height: 150px;
  border: 1px solid #dddddd;
  border-radius: 12px;
  margin: 5px;
  display: flex;
  align-items: center;
}

.gifImage {
  margin: 0px 5px;
}

.title_card_sectionThree {
  display: flex;
  flex-direction: column;
}

.title_card_sectionThree > h4 {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.title_card_sectionThree > h5 {
  color: #505050;
  font-size: 16px;
  font-weight: 400;
  margin-top: 3px;
}

.container_sectionThree > p {
  margin: 0px 150px;
  color: #414141;
  font-size: 18px;
  font-weight: 400;
  margin-top: 54px;
  text-align: center;
}

.exploreMoreButton {
  margin-top: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  border: 1px solid #9b3131;
  height: 45px;
  width: 150px;
  cursor: pointer;
}

.exploreMoreButton > p {
  color: #9b3131;
  font-size: 16px;
  font-weight: 400;
}

.arrowExploreMore {
  margin-left: 10px;
}

.sectionFour {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #6c0e30, #a83d3d);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_sectionFour {
  width: 100%;
  height: 100%;
  max-width: 1530px;
  padding: 0px 7vw;
  display: flex;
}

.left_sectionFour {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.imageContainer_sectionFour {
  height: 568px;
  width: 889px;
}

.imageContainer_sectionFour > img {
  width: 100%;
  object-fit: contain;
}

.right_sectionFour {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right_sectionFour > h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 50px;
  margin-top: 26px;
  color: #ffffff;
  margin-top: 139px;
}

.right_sectionFour > h3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 10px;
  max-width: 547px;
}

.learnMoreButton_sectionFour {
  height: 39px;
  width: 119px;
  border-radius: 20px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  justify-content: center;
  border: 1px solid #ffffff;
  cursor: pointer;
  margin-bottom: 120px;
}

.arrow_sectionFour {
  margin-left: 9px;
}

.sectionFive {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 90px;
}

.container_sectionFive {
  width: 100%;
  height: 100%;
  max-width: 1530px;
  padding: 0px 7vw;
  display: flex;
  flex-direction: column;
}

.title_sectionFive {
  margin-top: 61px;
}

.title_sectionFive > h2 {
  color: #000000;
  font-size: 35px;
  font-weight: 700;
}

.title_sectionFive > h3 {
  color: #454545;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.cards_sectionFive {
  margin-top: 76px;
  display: flex;
  overflow: scroll;
}

.cards_sectionFive::-webkit-scrollbar {
  display: none;
}

.card_sectionFive {
  height: 142px;
  min-width: 450px;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  margin: 0px 16px;
  display: flex;
  align-items: center;
}

.gif2_sectionFive {
  margin-left: 19px;
}

.cardTitle_sectionFive {
  display: flex;
  flex-direction: column;
  margin-left: 26px;
}

.cardTitle_sectionFive > h3 {
  font-size: 20px;
  font-weight: 700;
  color: #0a0a0b;
}

.cardTitle_sectionFive > p {
  font-size: 14px;
  font-weight: 400;
  color: #787878;
  margin-top: 9px;
  margin-right: 31px;
}

.sectionSix {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 58px;
}

.container_sectionSix {
  width: 100%;
  height: 100%;
  max-width: 1530px;
  padding: 0px 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_sectionSix {
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title_sectionSix > h2 {
  font-size: 35px;
  font-weight: 700;
  color: #000000;
}

.title_sectionSix > h3 {
  font-size: 16px;
  font-weight: 400;
  color: #454545;
  margin-top: 10px;
}

.gif_sectionSix_open {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.quoteStart_sectionSix {
  width: 100%;
  margin-left: 100px;
  margin-top: -10px;
}

.container_sectionSix > p {
  font-size: 18px;
  font-weight: 400;
  color: #414141;
  width: 779px;
  text-align: center;
  line-height: 28px;
  margin-top: -10px;
}

.quoteClose_sectionSix {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 100px;
  margin-top: -10px;
}

.ClientDetails_sectionSix {
  width: 779px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clientName_sectionSix {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clientName_sectionSix > h4 {
  color: #4e4e4e;
  font-size: 20px;
  font-weight: 500;
}

.clientName_sectionSix > p {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}

.sectionSeven {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 43px;
}

.container_sectionSeven {
  width: 100%;
  height: 100%;
  max-width: 1530px;
  padding: 0px 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_sectionSeven {
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title_sectionSeven > h2 {
  font-size: 35px;
  font-weight: 700;
  color: #000000;
}

.title_sectionSeven > h3 {
  font-size: 16px;
  font-weight: 400;
  color: #454545;
  margin-top: 10px;
}

.cardConatiner_sectionSeven {
  margin-top: 77px;
  display: flex;
  max-width: 924px;
  overflow: scroll;
}

.cardConatiner_sectionSeven::-webkit-scrollbar {
  display: none;
}

.card_sectionSeven {
  display: flex;
  flex-direction: column;
  min-width: 443px;
  margin: 0px 16px;
}

.card_sectionSeven > p {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #6b6b6b;
  font-size: 16px;
  font-weight: 300;
}

.card_sectionSeven > h4 {
  color: #585858;
  font-size: 18px;
  font-weight: 500;
}

.card_sectionSeven > h5 {
  color: #505050;
  font-size: 16px;
  font-weight: 300;
  margin-top: 18px;
}

.readMoreButton_sectionSeven {
  background-color: #aeaeae24;
  color: #263238;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 120px;
  margin-top: 40px;
  border-radius: 23px;
  font-size: 14px;
  font-weight: 300;
}

.sectionEight {
  height: 100%;
  width: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_sectionEight {
  width: 100%;
  height: 100%;
  max-width: 1530px;
  padding: 0px 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 38px;
}

.container_sectionEight > h2 {
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  line-height: 38px;
  text-align: center;
  width: 524px;
}

.buttonContainer_sectionEight {
  display: flex;
  align-items: center;
  margin-top: 39px;
}

.googleButton_sectionSix {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  border-right: 1px solid #d9d9d9;
  padding-right: 21px;
}

.googlePlay {
  margin-right: 17px;
}

.appleButton_sectionSix {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  margin-left: 26px;
}

.apple {
  margin-right: 15px;
}

@media only screen and (max-width: 1520px) {
  .sectionOne_right {
    padding-left: 61px;
  }
}

@media only screen and (max-width: 1440px) {
  .sectionOne_left {
    width: 100%;
  }
  .sectionOne_right {
    display: none;
  }
  .cards_sectionThree {
    display: flex;
    flex-direction: column;
  }
  .card_sectionThree {
    width: 100%;
  }
  .container_sectionThree > p {
    margin: 0px;
    margin-top: 54px;
    width: 100%;
  }
  .quoteStart_sectionSix {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
  }
  .container_sectionSix > p {
    font-size: 16px;
    width: 100%;
    line-height: 27px;
    margin-top: -10px;
    max-width: 766px;
  }
  .quoteClose_sectionSix {
    display: none;
  }
  .ClientDetails_sectionSix {
    width: 100%;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 1100px) {
  .left_sectionFour {
    display: none;
  }
  .right_sectionFour {
    width: 100%;
  }
}

@media only screen and (max-width: 730px) {
  .sectionOne_left > p {
    display: none;
  }
  .contentConatiner_sectionTwo {
    overflow: scroll;
    margin-top: 58px;
  }
  .contentConatiner_sectionTwo::-webkit-scrollbar {
    display: none;
  }
  .container_sectionThree > p {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .sectionOne {
    height: 100%;
  }
  .container_sectionOne {
    max-width: 100%;
  }
  .sectionOne_left {
    width: 100%;
  }
  .sectionOne_left > h4 {
    margin-top: 44px;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
  }
  .sectionOne_left > h2 {
    font-size: 25px;
    margin-top: 9px;
    font-weight: 700;
    width: 314px;
  }
  .sectionOne_left > h3 {
    font-size: 25px;
    color: #a83d3d;
    font-weight: 700;
  }
  .sectionOne_left > p {
    display: none;
  }
  .buttonContainer_sectionOne {
    margin-top: 22px;
  }
  .sectionOne_right {
    display: none;
  }
  .sectionTwo {
    margin-top: 40px;
  }
  .gradient_sectionTwo {
    height: 170px;
    margin-top: -10px;
  }
  .cardContainer_sectionTwo {
    justify-content: center;
    height: 100%;
  }
  .card2_sectionTwo {
    height: 487px;
    width: 298px;
    min-width: 298px;
    border-radius: 8px;
  }
  .card1_sectionTwo {
    height: 396px;
    max-width: 298px;
    min-width: 298px;
    margin: 0 5px;
    border-radius: 8px;
  }

  .content_sectionTwo {
    display: flex;
    align-items: center;
    margin: 0 14px;
    cursor: pointer;
  }
  .eclipse_green_sectionTwo {
    min-width: 32px;
    width: 32px;
    height: 32px;
  }
  .eclipse_gray_sectionTwo {
    min-width: 32px;
    width: 32px;
    height: 32px;
  }
  .sectionThree {
    padding-bottom: 52px;
  }
  .title_sectionThree {
    margin-top: 51px;
  }
  .title_sectionThree > h2 {
    font-size: 25px;
  }
  .title_sectionThree > h3 {
    font-size: 14px;
    font-weight: 400;
  }
  .cards_sectionThree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
  .card_sectionThree {
    width: 100%;
    height: 193px;
    border: none;
    flex-direction: column;
    margin-top: 23px;
  }
  .gifImage {
    height: 143px;
    width: 143px;
  }
  .title_card_sectionThree {
    align-items: center;
  }
  .title_card_sectionThree > h5 {
    color: #505050;
    font-size: 14px;
  }
  .container_sectionThree > p {
    display: none;
  }
  .left_sectionFour {
    display: none;
  }
  .right_sectionFour {
    width: 100%;
  }
  .right_sectionFour > h2 {
    margin-top: 97px;
  }
  .right_sectionFour > h3 {
    max-width: 100%;
  }
  .learnMoreButton_sectionFour {
    margin-top: 29px;
    margin-bottom: 97px;
  }
  .sectionFive {
    padding-bottom: 56px;
  }
  .title_sectionFive {
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title_sectionFive > h2 {
    font-size: 25px;
  }
  .title_sectionFive > h3 {
    font-size: 14px;
    margin-top: 18px;
    line-height: 25px;
  }
  .cards_sectionFive {
    margin-top: 38px;
    flex-direction: column;
  }
  .card_sectionFive {
    height: 259px;
    min-width: inherit;
    border-radius: 6px;
    margin: 13px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
  }
  .cardTitle_sectionFive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: 11px;
  }
  .cardTitle_sectionFive > p {
    font-size: 14px;
    font-weight: 400;
    color: #787878;
    margin-top: 9px;
    margin-right: 0px;
    line-height: 23px;
    text-align: center;
  }
  .sectionSix {
    padding-bottom: 41px;
  }
  .title_sectionSix {
    margin-top: 44px;
  }
  .title_sectionSix > h2 {
    font-size: 25px;
  }
  .title_sectionSix > h3 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 18px;
  }
  .quoteStart_sectionSix {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
  }
  .container_sectionSix > p {
    font-size: 16px;
    width: 100%;
    line-height: 27px;
    margin-top: -10px;
  }
  .quoteClose_sectionSix {
    display: none;
  }
  .ClientDetails_sectionSix {
    width: 100%;
    margin-top: 40px;
  }
  .title_sectionSeven {
    margin-top: 48px;
  }
  .title_sectionSeven > h2 {
    font-size: 25px;
  }
  .title_sectionSeven > h3 {
    font-size: 14px;
    margin-top: 5px;
  }
  .cardConatiner_sectionSeven {
    margin-top: 30px;
    width: 100%;
    max-width: inherit;
  }
  .card_sectionSeven {
    min-width: 100%;
    margin: 0px 6px;
    align-items: center;
  }
  .card_sectionSeven > p {
    margin-top: 26px;
    font-size: 14px;
  }
  .card_sectionSeven > h4 {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 27px;
  }
  .card_sectionSeven > h5 {
    font-size: 14px;
    margin-top: 13px;
    line-height: 27px;
    text-align: center;
  }
  .container_sectionEight > h2 {
    width: 100%;
  }
}
